@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes lds-ring {
    100% {
        transform: rotate(360deg);
    }
}

input {
    @apply ring-offset-0 ring-0;
    --tw-ring-shadow: 0 0 #000 !important;
}

.loader {
    @apply box-border delay-0 m-[3px] rounded-full;
    animation: lds-ring 0.86s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite normal
        none running;
    border-color: currentColor currentColor transparent transparent;
}

/* :has(~ .tooltip) {
    @apply relative;
} */

/* :has(~ .tooltip):is(:hover, :focus-visible, :active) ~ .tooltip {
    @apply delay-200;
} */

.tooltip {
    &::before {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
    }
}
