@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinnerRotateAnimation {
    to {
        transform: rotate(360deg);
    }
}

@keyframes draw-checkbox {
    0% {
        stroke-dashoffset: 33;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

input {
    @apply ring-offset-0 ring-0;
    --tw-ring-shadow: 0 0 #000 !important;
}
.loader {
    stroke-dasharray: calc(50px * 2.8);
    stroke-dashoffset: calc(50px * 2.25);
    stroke-linecap: round;
    stroke-width: calc(50px / 10);
    animation: spinnerRotateAnimation 0.86s cubic-bezier(0.4, 0.15, 0.6, 0.85)
        infinite;
}

/* :has(~ .tooltip) {
    @apply relative;
} */

/* :has(~ .tooltip):is(:hover, :focus-visible, :active) ~ .tooltip {
    @apply delay-200;
} */

.tooltip {
    &::before {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
    }
}
